<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">
        <form   role="login" class="A"  #register="ngForm" (ngSubmit)="registerUser(register)">

          <input type="text" name="firstname" [(ngModel)]="firstname"  class="form-control" placeholder="Enter First Name">

          <input type="text" name="lastname" [(ngModel)]="lastname"  class="form-control" placeholder="Enter Last Name">

          <input type="email" name="email" [(ngModel)]="email"  class="form-control" placeholder="Enter Email Address">

          <input type="text" name="mobile" [(ngModel)]="mobile"  class="form-control" placeholder="Enter Mobile Number">

          <input type="password" name="password" [(ngModel)]="password"  class="form-control" placeholder="Enter Password">

          <input type="password" name="confirmpassword" [(ngModel)]="confirmpassword" (keyup)="onKeyUp($event)" class="form-control" placeholder="Confirm Password">

          <label for="" *ngIf="!passwordMatch">Password Does Not Match</label>

          <label for="" *ngIf="passwordMatch">Password Match</label>

          <div class="row">

            <div class="col-6">
              <button type="button" class="btn btn-lg btn-primary btn-block" (click)="back()">Back</button>
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-lg btn-primary btn-block" >Register</button>
            </div>


          </div>







        </form>


      </section>
    </div>


  </div>




</div>