<div class="row">
  <div class="card">
    <div class="card-header">
      <h4>Sidebar Title</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <p>project A</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-edit"></i>
          <i class="fas fa-trash-alt"></i>
        </div>
        
      </div>

      <div class="row">
        <div class="col-md-4">
          <p>project B</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-edit"></i>
          <i class="fas fa-trash-alt"></i>
        </div>
      </div>

      <div class="row">
        <button  class="btn btn-primary" >
          <h5>Create</h5>
        </button>
      </div>


    </div>
  </div>
</div>