<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">
        <form role="login" class="A" #login="ngForm" (submit)="loginUser(login)">
          
          <img src="assets/logo.png" class="img-responsive" alt="" />
          <p class="center">BOQ Tracking System</p>

      
     

          
         
         <input type="text" name="username" [(ngModel)]="username"  class="form-control" placeholder="Username">
                  
          <input type="password" name="password" [(ngModel)]="password"  class="form-control" placeholder="password">
          


          <!-- <div class="pwstrength_viewport_progress"></div> -->

            <div class="row">
              <div class="col-6">
                <button type="submit" name="go" class="btn btn-lg btn-primary btn-block" #select (click)="selectUser(select)">Sign in</button>
              </div>

              <div class="col-6">
                  <button type="submit" name="go" class="btn btn-lg btn-primary btn-block" (click)="clear()">Clear</button>
              </div>
            </div>
          

          
          
<!-- popup -->
          <ng-template #content let-d="dismiss">
              <div class="modal-header">
                
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="row ma">
                <div class="col=6">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="clickToRegisterMobitel();d('Cross click')">Mobitel</button>
                      </div>
                </div>
                  
                <div class="col=6">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success"(click)="clickToRegisterContractor();d('Cross click')">Contractor</button>
                      </div>
                </div>
      
                    
              </div>
              
            </ng-template>
              
              <p>New to system? click <a (click)="open(content)"> here</a> to signup</p>

<!-- popup -->


        </form>

        
      </section>
    </div>


  </div>




</div>