<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img src="assets/1.jpg" class="img-responsive" alt="" />
  <p align="center">Admin</p> -->

<div class="row margin">
  <div class="col-3">
    <a class="A" (click)="showBOQ()">
      <font class="CBOQ-margin">BOQ List</font>
    </a>
  </div>
  <div class="col-3">
    <a class="A" (click)="open(content)">
      <font>Upload BOQ</font>
    </a>
  </div>
  <div class="col-3">
    <a class="A ex5" (click)="showContractBOQ()">
      <font class="smry-margin">Contract BOQ</font>
    </a>
  </div>
</div>



<!-- <button class="btnLg" (click)="logOut()">
  <i class="fas fa-power-off" ></i>
</button> -->
<!-- </nav> -->

<!-- <app-home></app-home> -->

<div class="row top">
  <div class="col-sm-3 ">
    <ul class="list-group ">
      <li class="list-group item" *ngFor="let stage of stageNames">
        <div class="row">
          <div class="col-sm-3">
            <div class="card P">
              <div class="dropdown">
                <!-- <span (mouseover)="getProjectName(projectn)"> -->
                <span (mouseover)="getStageName(stage.stageName)">
                  <a class="B">{{stage.stageName}}</a>
                </span>
                <div class="dropdown-content">
                  <ul class="list-group">
                    <li class="list-group item" *ngFor="let area of stage.areas">
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false" (click)="getAreaName(area.areaName)">
                          <a class="B">{{area.areaName}}</a>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <button class="dropdown-item" type="button" name="supply" #supply (click)="getTypeName(supply.name)">
                            <a class="B">Supply</a>
                          </button>
                          <button class="dropdown-item" type="button" name="implimentation" #implimentation (click)="getTypeName(implimentation.name)">
                            <a class="B">Implimentation</a>
                          </button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <span class="card P B" (click)="open(content2)">Create New Stage</span>
  </div>



  <div class="col-sm-9" *ngIf="!viewContractBOQ">
    <ul class="list-group">
      <li class="list-group-item fontSideBar">
        <div class="row">
          <div class="col-sm-3">
            <a class="">Name</a>
          </div>
          <div class="col-sm-3">
            <a class="">Area</a>
          </div>
          <div class="col-sm-2">
            <a class="">Type</a>
          </div>
          <div class="col-sm-2">
            <a class="">BOQ Name</a>
          </div>
          <div class="col-sm-2">

          </div>
        </div>
      </li>
      <li class="list-group-item" *ngFor="let project of projectList">
        <div class="row">
          <div class="col-sm-3">
            <a class="D">{{project.stageName}}</a>
          </div>
          <div class="col-sm-3">
            <a class="D">{{project.areaName}}</a>
          </div>
          <div class="col-sm-2">
            <a class="D">{{project.type}}</a>
          </div>
          <div class="col-sm-2">
            <a class="D">{{project.boqFileName}}</a>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-success" (click)="viewBoqFile(project.boqFileName)">View</button>
            <button class="btn btn-danger" (click)="deleteProject(project._id)">Delete</button>
          </div>
        </div>
      </li>
    </ul>
  </div>




 
  <div class="col-sm-9" *ngIf="viewContractBOQ">
    <app-view-contrct-boq></app-view-contrct-boq>
    
  </div>
</div>

<div class="col-md-9 col-xs-7 col-sm-9">
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-new-boq ></app-new-boq> -->

</div>


<!-- popup for create -->

<ng-template #content let-d="dismiss">


  <div class="container">
    <div class="modal-header">
      <h4>ADD BOQ FILE</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="row" id="pwd-container">
      <div class="col-md-1"></div>

      <div class="col-md-8">
        <section class="login-form">
          <form role="login" #create="ngForm" (ngSubmit)="createProject(create);d('Cross click')">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label fontL">Stage Name</label>
              <div class="col-sm-6">
                <select name="stageName" class="form-control" [(ngModel)]="stageName" placeholder="Project">
                  <option *ngFor="let stage of stageNames" value="{{stage.stageName}}"> {{stage.stageName}} </option>
                </select>
                <!-- <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com"> -->
                <!-- <input type="text" class="form-control-plaintext" name="stageName" [(ngModel)]="stageName" class="form-control"> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-6 col-form-label fontL">Select Area
                <i class="far fa-plus-square" (click)="open(content1)"></i>

              </label>
              <div class="col-sm-6">
                <select name="areaName" class="form-control" [(ngModel)]="areaName" id="area" placeholder="Project">
                  <option *ngFor="let area of areas" value="{{area.areaName}}"> {{area.areaName}} </option>
                </select>
              </div>
              <!-- <div class="col-sm-1">
                <i class="fas fa-plus-square" (click)="open(content1)"></i>
              </div> -->
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-6 col-form-label fontL">Select Type</label>
              <div class="col-sm-6">
                <select name="type" class="form-control" [(ngModel)]="type" id="type" placeholder="type">
                  <option value="implimentation" selected="true">Implimentation </option>
                  <option value="supply" selected="true">Supply</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-6 col-form-label fontL">BOQ Name</label>
              <div class="col-sm-6">
                <input type="text" class="form-control-plaintext" name="boqFileName" [(ngModel)]="boqFileName" class="form-control">
              </div>
            </div>

            <div class="form-group row">
              <label for="staticEmail" class="col-sm-6 col-form-label fontL">Upload BOQ</label>
              <app-boq-list></app-boq-list>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>

          </form>
        </section>
      </div>

    </div>
  </div>
</ng-template>
<!-- popup -->

<!-- pop up for create area -->

<ng-template #content1 let-d="dismiss">

  <div class="container">
    <div class="modal-header">
      <h4>ADD NEW AREA</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="row" id="pwd-container">
      <div class="col-md-2"></div>

      <div class="col-md-8">
        <section class="login-form">
          <form role="login" #add="ngForm" (ngSubmit)="createArea(add);d('Cross click')">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label">
                <h5>Area Name</h5>
              </label>
              <div class="col-sm-6">
                <!-- <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com"> -->
                <input type="text" class="form-control-plaintext" name="areaName" [(ngModel)]="areaName" class="form-control">
              </div>
            </div>



            <button type="submit" class="btn btn-primary">Save</button>

          </form>
        </section>
      </div>

    </div>
  </div>

</ng-template>

<!-- pop up for create area -->

<!-- pop up for create new stage -->

<ng-template #content2 let-d="dismiss">

  <div class="container">
    <div class="modal-header">
      <h4>Add New Stage</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="row" id="pwd-container">
      <div class="col-md-2"></div>

      <div class="col-md-8">
        <section class="login-form">
          <form role="login" class="" #newProject="ngForm" (ngSubmit)="createNewStage(newProject);d('Cross click')">
            <div class="form-group row">
              <!-- <label class="col-sm-6 col-form-label">Project Name</label> -->
              <p class="B">Stage Name</p>
              <div class="col-sm-6">
                <!-- <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com"> -->
                <input type="text" class="form-control-plaintext" name="stageName" [(ngModel)]="stageName" class="form-control">
              </div>
            </div>



            <button type="submit" class="btn btn-primary">Save</button>

          </form>
        </section>
      </div>

    </div>
  </div>

</ng-template>
<!-- pop up for create new stage -->