.navbar{
    background-image: linear-gradient(to right,rgb(48, 216, 174), rgb(26, 114, 214));
    height: 45px;
    
    
    /* background-color: rgb(44, 32, 218); */
    
  
  }
  .navbarA{
    background-image: linear-gradient(to right,rgb(123, 228, 202), rgb(14, 231, 177));
    height: 120px;
    
    
    
    /* background-color: rgb(44, 32, 218); */
    
  
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    padding: 24px;
    text-align: center;
    background-color: rgb(23, 178, 202);
    color: rgb(27, 15, 15);
    margin: 20px;
  }

 