<!-- <div class="row">
    <div class="card">
        <div class="card-header">
          Sidebar Title
        </div>
        <div class="card-body">
          <div class="list">
            <ul class="list-group">
              <li class="list-group-item" (click)= "onClick(view)" id="view-project" #view>View Project</li>
              <li class="list-group-item" (click)= "onClick(request)" id="request-accept" #request>Request Accept</li>
              <li class="list-group-item" (click)= "onClick(upload)" id="file-upload" #upload>BOQ file Upload</li>
              <li class="list-group-item">Supply Management</li>
              <li class="list-group-item">Supply BOQ Upload</li>
            </ul>
          </div>
        </div>
      </div>
</div> -->

<div class="row">
  <div class="column" style="width: 300px">
    <div class="card A">
      
      <h5><button class="list-group-item card-img-overlay AA" (click)="onClick(view)" id="view-project" #view>View Project</button></h5>

    </div>

  </div>

  <div class="column" style="width: 300px">
    <div class="card A">
      
      <h5><button class="list-group-item card-img-overlay BB" (click)="onClick(request)" id="request-accept" #request>Request Accept</button></h5>

    </div>

  </div>

  <div class="column" style="width: 300px">
    <div class="card A">
      
      <h5><button class="list-group-item card-img-overlay CC" (click)="onClick(upload)" id="file-upload" #upload>BOQ file Upload</button></h5>

    </div>

  </div>
</div>

<div class="row">
  <div class="column " style="width: 300px">
    <div class="card A">
     
      <h5><button class="list-group-item card-img-overlay DD">Supply Management</button></h5>

    </div>

  </div>

  <div class="column" style="width: 300px">
    <div class="card A">
      
      <h5><button class="list-group-item card-img-overlay EE">Supply BOQ Upload</button></h5>

    </div>


  </div>

  <div class="column" style="width: 300px">
      <div class="card A">
        
        <h5><button class="list-group-item card-img-overlay FF">aaaaaaaaaaaa</button></h5>
  
      </div>
  
  
    </div>
</div>