.navbar{
  background-image: linear-gradient(to right,rgb(48, 216, 174), rgb(26, 114, 214));
  height: 45px;
  /* background-color: rgb(44, 32, 218); */
  

}

.btn{
  left: 50%;
}
.list-group-item{
  height: 60px;
  width: 250px;
  background-color: rgb(213, 232, 235);
  /* margin: 5px; */
}
.top{
  margin-top: 10px;
}

.position{
  margin-left: 450%;

}

/* .sidebar-nav{

  font-family: Arial, Helvetica, sans-serif;
  
} */

.row{
  bottom: 10px;
}

.list-group{
  margin: 15px;
}

h5{
  color: green;
}


.A{
  margin-right: 14px;
}



